/*Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Margin og kanter fjernes i visse browsere */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variable: farver og typografi*/
:root {
  /* farver */
  --farve_1: #fffdfa; /* Hvid */
  --farve_2: #1a1a1a; /* Sort */
  --farve_3: #f9c7e1; /* Lys Pink */
  --farve_4: #cd3488; /* Mørk Pink */
  --farve_5: #faecf3; /* Bleg Pink*/
  --farve_6: #ceddc8; /* Sage Green */
  --farve_7: #f8c5cd; /* Pop Pink */
  --farve_8: #e7e6db; /* Moonlight White */
  --farve_9: #d7c5e6; /* Lavender Violet */

  /* typografi */
  --broedtekst: "open sans", sans-serif;
  --titel: "be vietnam pro", sans-serif;
  --overskrifter: "be vietnam pro", sans-serif;
  --underskrifter: "open sans", sans-serif;
}

/*--------Global CSS--------*/

/*global typografi*/
h1 {
  font-family: var(--overskrifter);
  font-size: 80px;
  color: var(--farve_2);
}

h2 {
  font-family: var(--titel);
  font-size: 56px;
  color: var(--farve_2);
  text-align: center;
  padding: 24px;
}

h3 {
  font-family: var(--titel);
  font-size: 1.5rem;
  color: var(--farve_2);
}

h4 {
  font-family: var(--titel);
  font-size: 16px;
  color: var(--farve_2);
}

p {
  font-family: var(--broedtekst);
  font-size: 1rem;
  color: var(--farve_2);
  line-height: 1.5;
}

body {
  background-color: var(--farve_1);
  background-size: cover;
  min-height: 100vh;

  margin: 0;
  padding: 0;

  /*display: flex;
  flex-direction: column; */
}

main {
  margin-left: 120px;
  margin-right: 120px;
}

/* ------------NAVBAR CSS-----------------*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.navbar img {
  height: 80px;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 32px;
}

.navlinks img {
  height: 30px;
}

/*-------Hero sektion-------*/
/*header {
  display: flex;
  flex-direction: column;
}*/

.heroIndhold {
  height: 90vh;
  overflow: hidden;
}

.videoHeroBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}

.heroTekst {
  position: absolute;
  top: 25%;
  left: 120px;

  max-width: 600px;
}

/*------CTA knap------*/
.CTAknap {
  background-color: var(--farve_4);
  color: var(--farve_1);
  padding: 12px 48px;
  border: none;
  border-radius: 32px;
  cursor: pointer;
  text-decoration: none;
}

.CTAknap:hover {
  background-color: var(--farve_3);
  color: var(--farve_2);
  transition: 0.6s;
}

.CTA {
  background-color: rgba(255, 255, 255, 0.668);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 16px;
  padding: 8px 16px;
  width: fit-content;
  border-radius: 32px;
  position: absolute;
  top: 60%;
  left: 15%;
}

/*---------Usp baren CSS----------*/
.uspSektion {
  background-color: var(--farve_5);
  padding: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute; /*Skal være aboslut fordi så ligger den sig efter forældreen som er .videoherobg*/
  bottom: 0; /*Ligger nede i bunden af videoen*/
}

.usp {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 16px;
}

.usp img {
  height: 32px;
}

.uspRating {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
}

/*-----Højdepunkter-------*/
.højdepunkter {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  text-align: center;
  padding-bottom: 24px;
  gap: 56px;
  width: 100%;
}

.højdepunktKort {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 16px;
  width: 400px;
}

.visuelHøjdepunkt {
  width: 100%; /*Så udfylder den hele kortet (de 400px)*/
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}

/*------Funktioner sektion------*/
.funktionerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center center;
  gap: 80px;
}

.højtalerFarve img {
  height: 100%;
  width: auto;
}

.informationer {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 8px;
  padding-top: 5%;
}

.farveIndhold {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;

  padding: 16px;
}

.farver {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.dots {
  width: 40px;
  height: 40px;
  border-color: #0000009b;
  cursor: pointer;
}

.moonlightWhite {
  background-color: var(--farve_8);
}
.popPink {
  background-color: var(--farve_7);
}

.lavenderViolet {
  background-color: var(--farve_9);
}
.sageGreen {
  background-color: var(--farve_6);
}

.svar ul {
  font-family: var(--broedtekst);
  font-size: 1rem;
  color: var(--farve_2);
  padding-bottom: 24px;
}

/*--------------Anmeldelser sektion--------------*/
#karrusel {
  background-color: var(--farve_4);
}

#Container {
  background-color: var(--farve_2);
}

#anmeldelseContainer {
  display: flex;
  flex-direction: row;

  gap: 24px;
  background-color: yellow;
}

.anmeldelseKort {
  position: relative;
  background-color: var(--farve_5);
  width: 600px;
  height: 100%;
}

.anmeldelseBillede {
  display: block;
  width: 100%;
}

.anmeldelseInfo {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.422);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.anmeldelseInfo:hover {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.anmeldelseTekst {
  padding: 16px;
}

/*--------------FAQ sektion--------------*/
.accordion {
  display: flex;
  justify-content: space-between;
  background-color: var(--farve_1);
  cursor: pointer;
  padding: 24px 64px;
  width: 100%;
  text-align: left;
  border: none;
  border-top: #6c6c6c43 2px solid;
  outline: none;
  transition: 0.6s;
}

.active,
.accordion:hover {
  background-color: var(--farve_1);
  padding: 24px 64px;
}

.svar {
  max-height: 0px;
  overflow: hidden;
  background-color: var(--farve_1);
  padding: 0px 64px;
  transition: max-height 0.4s ease-out, padding 0.3s ease;
  border-bottom: #6c6c6c43 2px solid;
}

.svar p {
  padding-bottom: 24px;
}

.active.accordion .pil {
  /*Her gør jeg sådan at når accordionen er aktiv (så har den nemlig de to klasser .active.acordion) skal billede i class'en pil rotere 180 grader */
  transform: rotate(180deg);
  transition: transform 0s ease;
}

/*--------------CTA sektion--------------*/

/*-------------Footer---------------*/
/* Footer */
footer {
  background-color: var(--farve_5);
  padding: 40px 60px;
  min-height: 30vh;
  font-family: var(--brødtekst-font);
  width: 100%;
}

footer table {
  width: 100%;
  border-collapse: collapse;
}

footer .col {
  vertical-align: top;
  padding-right: 0px;
}

footer p {
  font-size: 16px;
  cursor: pointer;
}
footer p:hover {
  text-decoration: underline;
}

/* -------RESPONSIVT DESIGN --------*/

/* Mobile enheder */
@media (max-width: 600px) {
  body {
    background-color: aquamarine;
  }

  main {
    margin-left: 16px;
    margin-right: 16px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 32px;
  }

  .højdepunkter {
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  .funktionerContainer {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}

/* Tablets, iPads, &c. */
@media (min-width: 601px) and (max-width: 1024px) {
  body {
    background-color: rgb(252, 21, 198);
  }

  main {
    margin-left: 56px;
    margin-right: 56x;
  }

  h1 {
    font-size: 56px;
  }

  h2 {
    font-size: 40px;
  }

  .højdepunkter {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .funktionerContainer {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }
}
