/*Google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Margin og kanter fjernes i visse browsere */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variable: farver og typografi*/
:root {
  /* farver */
  --farve_1: #fffdfa; /* Hvid */
  --farve_2: #1a1a1a; /* Sort */
  --farve_3: #f36db7; /* Lys Pink Cta hover*/
  --farve_4: #cd3488; /* Mørk Pink CTA */
  --farve_5: #faecf3; /* Sart Pink*/
  --farve_6: #ceddc8; /* Sage Green */
  --farve_7: #f8c5cd; /* Pop Pink */
  --farve_8: #e7e6db; /* Moonlight White */
  --farve_9: #d7c5e6; /* Lavender Violet */

  /* typografi */
  --broedtekst: "open sans", sans-serif;
  --titel: "be vietnam pro", sans-serif;
  --overskrifter: "be vietnam pro", sans-serif;
}

/*--------Global CSS--------*/

/*global typografi*/
h1 {
  font-family: var(--overskrifter);
  font-size: 5em;
  color: var(--farve_2);
  padding-bottom: 0.2em;
}

h2 {
  font-family: var(--titel);
  font-size: 3em;
  color: var(--farve_2);
  text-align: center;
  padding-bottom: 0.5em;
}

h3 {
  font-family: var(--titel);
  font-size: 1.5rem;
  color: var(--farve_2);
}

h4 {
  font-family: var(--titel);
  font-size: 1em;
  color: var(--farve_2);
}

p {
  font-family: var(--broedtekst);
  font-size: 1.2rem;
  color: var(--farve_2);
  line-height: 1.5;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--farve_1);
  background-size: cover;
  min-height: 100vh;

  margin: 0;
  padding: 0;
}

main {
  margin-left: 7.5em;
  margin-right: 7.5em;
}

section {
  padding-top: 4em;
  height: fit-content;
}

/* ------------NAVBAR CSS-----------------*/
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.625em 1.25em;
  width: 100%;
  height: 4em;
  z-index: 10; /*så er den altid ovenpå de andre elementer*/
  position: fixed;
}

/*cssen for når nav bliver scrollet (navbar tilføjes classen scroll med javascript. Dette er så css'en for når det sker. der tilføjes en baggrundsfarve og en transition)*/
.scroll.navbar {
  background-color: var(--farve_5);
  transition: background-color 1s ease;
}

.navbar img {
  height: 4.2em;
  cursor: pointer;
}

.navlinks {
  list-style: none;
  display: flex;
  gap: 2em;
}

.navlinks img {
  height: 1.85em;
}

.navIkon {
  cursor: pointer;
}

/*Her er udseendet for burgermenuen defineret*/
.burgermenuÅben {
  background-color: var(--farve_4);
  height: 100vh;
  width: 16em;
  position: fixed;
  top: 0;
  right: -16em; /*Skjult som standard, da den er placeret uden for skærmen*/
  z-index: 5;
  padding-top: 1em;
  transition: right 0.3s ease;
}

.burgermenuÅben a {
  display: block;
  color: var(--farve_1);
  padding: 1em 1.5em;
  font-family: var(--titel);
  font-size: 1.25em;
  border-bottom: 1px solid var(--farve_1);
  cursor: pointer;
}

.burgermenuÅben a img {
  height: 1.5em;
  margin-right: 0.5em;
}

/*Dette er css'en for når burgermenuen er åben. BurgermenuÅben tilføjes class'en .åben med javascript */
.åben.burgermenuÅben {
  right: 0em; /*Nu er den inde på skærmen, i højre side. Altså før brugermenuåben fik tilføjet class'en .åben havde den en placering på -16 em, som var ude af skærmen. Men når class'en -åben tilføjes har den nu en palering på right:0em*/
  scroll-behavior: none; /*man kan ikke scrolle baggrunden når menuen er åben*/
}

/*-------Hero sektion-------*/
.heroIndhold {
  height: 100vh;
  width: 100%;
  position: relative;
}

.videoHeroBg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}

#heroContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8em;
  height: fit-content;
  width: fit-content;
  z-index: 1;
  gap: 3em;
  top: 18%;
}

.heroTekst {
  left: 7.5em;
  font-weight: bold;
}

/*------CTA knap------*/
.CTAknap {
  background-color: var(--farve_4);
  padding: 0.75em 3em;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--titel);
  font-size: 1.5rem;
  color: var(--farve_1);
  font-weight: bold;
  width: fit-content;
}

.CTAknap:hover {
  background-color: var(--farve_3);
  color: var(--farve_2);
  transition: 0.6s;
  transform: scale(1.1);
}

.CTA {
  background-color: rgba(255, 255, 255, 0.668);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 0.5em 1em;
  width: fit-content;
  border-radius: 20em;

  margin-left: 5em;
}

/*---------Usp baren CSS----------*/
#uspSektion {
  background-color: var(--farve_5);
  padding: 1em;
  display: flex; /*så ligger det i en flexbox*/
  flex-direction: row; /*på en række*/
  justify-content: center; /*vandret*/
  align-items: center; /*lodret*/
  width: 100%;
  position: absolute; /*Skal være aboslut fordi så ligger den sig efter forældreen som er .videoherobg*/
  bottom: 0; /*Ligger nede i bunden af videoen*/
}

.usp {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 1em;
}

.usp img {
  height: 2em;
}

.uspRating {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1em;
}

#uspSektion p {
  font-size: 1.1em;
}
/*----------Højdepunkter------------*/
#højdepunkter {
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: space-between;
  text-align: center;
  gap: 3.5em;
  width: 100%;
  height: fit-content;
}

.højdepunktKort {
  display: flex;
  flex-direction: column;
  text-align: left; /*følger venstre side*/
  gap: 0.5em;
  flex: 1; /*så fylder de lige meget*/
}

.visuelHøjdepunkt {
  width: 100%; /*Så udfylder den hele kortet*/
  height: 15.625em; /*Svarer til 250px*/
  object-fit: cover;
  overflow: hidden;
  padding-bottom: 1em;
}

/*----------Specifikationer sektion-------------*/
#funktionerContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  gap: 5em;
}

.højtalerFarve img {
  height: 38em;
  width: auto;
  justify-content: center;
}

#informationer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5em;
  padding-top: 5%;
}

.farveIndhold {
  display: flex;
  flex-direction: column;
  gap: 0em;
  align-items: flex-start;

  padding: 1em;
}

.farver {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.dots {
  width: 3em;
  height: 3em;
  border-color: #0000009b;
  cursor: pointer;
}

.dots:hover {
  transform: scale(1.1);
  transition: 0.3s;
  border-width: 0.4em;
  border-color: #1a1a1a5e;
}

/*her defineres den classe der hedder ${farve} hvert dot har. her definers så farverne der skal være som baggrundsfarve for hver dot*/
.moonlightWhite {
  background-color: var(--farve_8);
}
.popPink {
  background-color: var(--farve_7);
}

.lavenderViolet {
  background-color: var(--farve_9);
}
.sageGreen {
  background-color: var(--farve_6);
}

.svar ul {
  font-family: var(--broedtekst);
  font-size: 1.1rem;
  color: var(--farve_2);
  padding-bottom: 1.5em;
}

/*--------------Anmeldelser sektion--------------*/

#karrusel {
  scroll-behavior: smooth; /* Gør så scrollen glidende */
  width: 100%;
  height: 25em;
  overflow-x: scroll; /*gør sådan man kan scrolle langs x-aksen*/
  overflow-y: hidden; /*fjener scrool langs y-aksen*/
}

#anmeldelseContainer {
  display: flex;
  flex-direction: row;
  height: auto;
  gap: 1.5em;
}

.anmeldelseKort {
  position: relative; /*så vi kan placere anmeldelseInfo ovenpå billedet*/
  width: 22em;
  height: 100%;
  flex-shrink: 0; /*Sørger for at kortene ikke forminskes ned*/
}

.anmeldelseBillede {
  display: block;
  width: 100%;
}

/*Dette bliver vores overlay på billedet, så det er det vi ser når man hover over med musen*/
.anmeldelseInfo {
  position: absolute; /*så den ligger ovenpå billedet, fordi den ligger sig efter sin parent*/
  width: 100%;
  height: 100%;
  top: 0em;
  left: 0em;
  background-color: rgba(0, 0, 0, 0.776);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 3em;
  cursor: pointer;
  opacity: 0; /*Det er denne som gør at det som difult ikke vises */
}

.anmeldelseInfo:hover {
  opacity: 1; /*og det er så her hvor man siger at når man hover over infoen skal går synligheden til 100% */
  transition: opacity 0.8s ease;
}

.anmeldelseTekst {
  color: var(--farve_1);
}

.anmeldelseTitel {
  color: var(--farve_1);
  font-size: 2em;
}

.anmeldelseNavn {
  color: var(--farve_1);
}

/*--------------FAQ sektion--------------*/
.accordion {
  display: flex;
  justify-content: space-between;
  background-color: var(--farve_1);
  cursor: pointer;
  padding: 2em 4em;
  width: 100%;
  text-align: left;
  border: none;
  border-top: #6c6c6c43 2px solid;
  outline: none;
  transition: 0.6s;
}

.active,
.accordion:hover {
  background-color: var(--farve_1);
  padding: 2.2em 4em; /*så bliver den lidt større når man hover over*/
}

/*dette er css'en for svaret i accordionen*/
.svar {
  max-height: 0em; /*dette gør den skjult som standard*/
  overflow: hidden;
  background-color: var(--farve_1);
  padding: 0em 4em;
  transition: max-height 0.4s ease-out, padding 0.3s ease;
  border-bottom: #6c6c6c43 2px solid;
}

.svar p {
  padding-bottom: 2em;
  font-size: 1em;
}

.active.accordion .pil {
  /*Her gør jeg sådan at når accordionen er aktiv (så har den nemlig de to klasser .active.acordion) skal billede i class'en pil rotere 180 grader */
  transform: rotate(
    180deg
  ); /*rotere pilen rundt når accordionen er åben (er blevet tilføjer klassen .active)*/
  transition: transform 0s ease;
}

/*--------------CTA sektion--------------*/

#CTAsektionen {
  padding-bottom: 2em;
}

#CTAcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 1em;
  padding: 3em 1.5em;
  border-radius: 16px;
  background-image: url("../img/ctaBG.png");
  background-size: cover;
  background-position: center;
  height: auto;
}

.CTA2 {
  background-color: rgba(255, 255, 255, 0.668);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  gap: 1em;
  padding: 0.5em 1em;
  width: fit-content;
  border-radius: 20em;
}

/*-------------Footer---------------*/
/* Footer */
footer {
  background-color: var(--farve_5);
  padding: 2.5em 3.75em;
  min-height: 30vh;
  font-family: var(--brødtekst-font);
  width: 100%;
  height: 100%;
}
#footerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding-top: 0em;
}

#footerContainer ul li {
  font-size: 1em;
  font-family: var(--broedtekst);
  list-style: none;
  padding-bottom: 0.5em;
  cursor: pointer;
  width: fit-content;
}

#footerContainer ul li:hover {
  text-decoration: underline;
}

.kolonne {
  padding: 1em 1em;
}

/* ----------------RESPONSIVT DESIGN -------------------*/

/* ---------------Mobile enheder------------- */
@media (max-width: 37.5em) {
  main {
    margin-left: 1em;
    margin-right: 1em;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.4em;
  }

  h3 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1em;
  }

  /**-------Hero sektion-------*/

  #heroContainer {
    margin-left: 2em;
    top: 25%;
  }

  .heroTekst {
    left: 5em;
  }

  .CTAknap {
    padding: 0.5em 2em;
    font-size: 1.4rem;
  }

  .CTA {
    margin-left: 1.5em;
  }

  #uspSektion p {
    font-size: 0.9em;
  }

  .usp img {
    height: 1.2em;
  }

  .uspRating {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1em;
  }

  .uspRating img {
    height: 1.5em;
  }

  /*--------højdepunkter sektion--------*/
  #højdepunkter {
    flex-direction: column;
    align-items: center;
    gap: 2.5em;
  }

  .visuelHøjdepunkt {
    padding-bottom: 0.5em;
  }

  /*--------specifikationer sektion--------*/
  #funktionerContainer {
    flex-direction: column;
    align-items: center;
    row-gap: 0em;
  }

  .højtalerFarve img {
    height: auto;
    width: 45vh;
  }

  .farveIndhold {
    padding: 0em;
  }

  .svar ul {
    font-size: 1em;
  }

  /*-------------Footer---------------*/
  #footerContainer {
    flex-direction: column;
    gap: 2em;
  }

  #footerContainer ul li {
    font-size: 1em;
  }
}

/*=============================*/
/* Tablets, iPads, &c. */
@media (min-width: 37.5em) and (max-width: 64em) {
  main {
    margin-left: 3.5em;
    margin-right: 3.5em;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 2.5em;
  }

  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.1em;
  }

  .uspSektion p {
    font-size: 1em;
  }

  /*Hero sektion*/
  #heroContainer {
    margin-left: 5em;
    top: 20%;
  }

  .CTA {
    margin-left: 3em;
  }

  /*-----højdepunkt sektion-------*/
  #højdepunkter {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2.5em;
  }

  .højdepunktKort {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1em;
    width: 15em;
  }

  /*-----specifikationer sektion--------*/
  .funktionerContainer {
    flex-direction: row;
    width: 100%;
    align-items: center;
    gap: 2.5em;
  }

  .højtalerFarve {
    width: fit-content;
  }

  .højtalerFarve img {
    height: 35em;
    width: auto;
    justify-content: center;
  }
}

/*=======================*/
/*--------Købsside-------*/

#informationer2 {
  display: flex;
  flex-direction: column;

  width: 100%;
  gap: 0.5em;
}

#overskriftKS {
  text-align: left;
  width: fit-content;
  padding-bottom: 0em;
}

#ratingKS {
  height: 1.5em;
  width: fit-content;
}

#CTAknap3 {
  background-color: var(--farve_4);
  padding: 0.75em 3em;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  text-decoration: none;
  font-family: var(--titel);
  font-size: 1.5rem;
  color: var(--farve_1);
  font-weight: bold;
  width: fit-content;
  margin-top: 4em;
  margin-bottom: 4em;
}

#CTAknap3:hover {
  background-color: var(--farve_3);
  color: var(--farve_2);
  transition: 0.6s;
  transform: scale(1.1);
}
